# Data in Hand, 11/27/23 check-in
#### Joseph Rush

## Gunslinger & Sharpshooter Accuracy & Headshot Accuracy
Accuracy and headshot accuracy values for gunslinger & sharpshooter players, cleaned for data-distortions.

Additionally, the damage dealt by the player, the team's overall damage, and the % of the team damage dealt by that player (for use in weighting certain calculations down the line.)

Two-dimensional table, no nested layers. Gathered from the recent tournament as well as the spreadsheet maintained by a high-level, closed European play group.

In [3]:
import pandas as pd
dps_acc_df = pd.read_csv('E:\College\EMAT32110_2-DataInEmergingMediaAndTechnology\FinalProjectData\GS&SS_acc.csv')
dps_acc_df.head()

         ACC      HSACC      DD  Team DD   % of DD
0  68.790538  49.639490  365402  1449721  0.252050
1  67.096135  37.444609  300911  1449721  0.207565
2  60.382855  39.145417  172028  1223218  0.140636
3  66.071429  61.261261  535791  1440476  0.371954
4  74.509804  65.789474  368733  1440476  0.255980

## Commando Accuracy & Headshot Accuracy
Accuracy and headshot accuracy values for commando players.

Two-dimensional table, no nested layers. Gathered from the recent tournament as well as the spreadsheet maintained by a high-level, closed European play group.

In [4]:
mando_acc_df = pd.read_csv('E:\College\EMAT32110_2-DataInEmergingMediaAndTechnology\FinalProjectData\mando_acc.csv')
mando_acc_df.head()

         ACC      HSACC        DD    Team DD   % of DD
0  57.986840  33.196523  282885.0  1449721.0  0.195131
1  64.207650  37.624113  267287.0  1223218.0  0.218511
2  51.885014  22.464426  167241.0  1440476.0  0.116101
3  53.115819  20.436681  181419.0  1424481.0  0.127358
4  46.297641  33.437868  176153.0  1395982.0  0.126186

## Zed Populations
For a given cycle, how many of each enemy type are spawned in a given wave.

Two-dimensional tables, no nested layers, gathered by analyzing the information given to the Controlled Difficulty Mod with the Tamari's SpawnCycler program.

In [15]:
bl2_df = pd.read_csv('E:\College\EMAT32110_2-DataInEmergingMediaAndTechnology\FinalProjectData\populations-bl_v2.csv')
nt2_df = pd.read_csv('E:\College\EMAT32110_2-DataInEmergingMediaAndTechnology\FinalProjectData\populations-nt_v2.csv')
osffi1_df = pd.read_csv('E:\College\EMAT32110_2-DataInEmergingMediaAndTechnology\FinalProjectData\populations-osffi_v1.csv')
apm2_df = pd.read_csv('E:\College\EMAT32110_2-DataInEmergingMediaAndTechnology\FinalProjectData\populations-apm_v2.csv')
mig2_df = pd.read_csv('E:\College\EMAT32110_2-DataInEmergingMediaAndTechnology\FinalProjectData\populations-ts_mig_v2.csv')
doom2pr_df = pd.read_csv('E:\College\EMAT32110_2-DataInEmergingMediaAndTechnology\FinalProjectData\populations-doom_v2_plus_rmk.csv')
mig3_df = pd.read_csv('E:\College\EMAT32110_2-DataInEmergingMediaAndTechnology\FinalProjectData\populations-ts_mig_v3.csv')
mb0a_df = pd.read_csv('E:\College\EMAT32110_2-DataInEmergingMediaAndTechnology\FinalProjectData\populations-mb_v0a.csv')
nvm1_df = pd.read_csv('E:\College\EMAT32110_2-DataInEmergingMediaAndTechnology\FinalProjectData\populations-nvm_v1.csv')
nvm1_df.head()

,Cyst,Alpha Clot,Slasher,Rioter,Gorefast,Gorefiend,Crawler,Stalker,Bloat,Husk,Siren,Scrake,Quarterpound,Fleshpound
0,0,31,26,12,31,18,39,39,11,15,13,7,0,3
1,0,32,35,19,17,23,38,39,14,20,14,16,0,7
2,0,38,30,21,21,26,36,44,18,28,16,23,0,12
3,0,29,30,24,19,28,29,34,19,29,20,34,0,18
4,0,30,28,27,15,32,28,37,24,33,26,41,0,22

## Zed Stats
Head health, headshot multiplier, & damage resistances (handgun, rifle, & assault rifle) for each zed type.

Two-dimensional tables, no nested layers, gathered from SimpleCat's KF2 Stats Spreadsheet

In [18]:
zedstats_df = pd.read_csv('E:\College\EMAT32110_2-DataInEmergingMediaAndTechnology\FinalProjectData\ZedStats.csv')
zedstats_df.head()

,Category,Cyst,Alpha Clot,Slasher,Rioter,Gorefast,Gorefiend,Crawler,Stalker,Bloat,Husk,Siren,Scrake,Quarter Pound,Fleshpound
0,Head Health,20.0,20.0,20.0,125.0,50.00,150.00,20.0,20.00,82.0000,220.000,155.0,1584.0,1228.00,1716.00
1,Headshot Multiplier,1.1,1.1,1.1,1.1,1.10,1.10,1.1,1.10,1.0001,1.001,1.1,1.1,1.10,1.10
2,AssaultRifle_AR15 resistance,1.5,1.0,1.0,1.0,1.20,1.20,1.5,1.50,0.4000,0.650,1.0,1.0,0.62,0.50
3,Assault Rifle resistance,1.5,1.0,1.0,1.0,1.20,1.20,1.5,1.50,0.3500,0.650,1.0,1.0,0.62,0.50
4,Rifle resistance,1.0,1.0,1.0,1.0,1.25,1.25,1.0,0.85,0.3500,0.700,1.0,1.0,0.75,0.75

## Weapon Data
Cost for initial purchase, rounds received with initial purpose, cost per magazine, cost per bullet, base damage per bullet. Upgraded weapons are included as a line entry with no initial bullets that costs the price of the upgrade.

Two-dimensional tables, no nested layers, gathered from game data and SimpleCat's KF2 Stats Spreadsheet

In [19]:
weapon_data_df = pd.read_csv('E:\College\EMAT32110_2-DataInEmergingMediaAndTechnology\FinalProjectData\WeaponStats.csv')
weapon_data_df.head()

,Weapon,Purchase cost,Purchase ammo,Cost per magazine,Bullets per magazine,Max Ammo (mag+spare),Cost per bullet,Base damage,Damage Type
0,AR15,200,120,20.0,20,308,1.0000,30,Assault
1,Bullpup,650,90,30.0,32,354,0.9375,32,Assault
2,SCAR,1500,80,28.0,20,428,1.4000,55,Assault
3,FN FAL,1500,60,47.0,20,428,2.3500,70,Rifle
4,Winchester,200,48,32.0,12,96,2.6667,80,Rifle